@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100&display=swap');

h1 {
    color: rgb(230, 90, 160);
    font-size: 5rem ;
  }

  .container{
    width: 150px;
    height: 150px;
    background-color: cornflowerblue;
    font-family: 'Courier New', Courier, monospace;
    display: flexbox;
    flex-direction: row;
    justify-content: space-between;
    color: chartreuse;
  }
  
  .selected {
    background-color: #aaa;
  }
  
  .container div:hover {
    display: flex;
    flex-direction: row;
    color: chartreuse;
    cursor: pointer;

  }
  .container a:hover{
    cursor: pointer;
    color: rgb(160, 233, 87);
    font-family: 'Courier New', Courier, monospace;
}